.rounded-image {
  // border-radius: 20%; /* Set border radius to 50% to create a circular shape */
  // //overflow: hidden; /* Ensure that the image is clipped to the rounded shape */
  // max-width: 200px;
  // margin-left: 50px;
  // margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 150px;
  height: 150px;
}
