<div class="auth-main">
  <div>
    <div class="auth-form">
      <!-- <div class="auth-header">
        <a href="javascript:"><img src="assets/images/image.png" style="width: 150px;" alt="logo" /></a>
      </div> -->
      <div class="card my-5">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-end mb-4">
            <h3 class="mb-0"><b>Share Feedback</b></h3>
          </div>
          <div class="form-group mb-3">
            <label class="form-label required" for="email">Session Name</label>
            <input type="text"  class="form-control" id="emailAddress" name="emailAddress" />
          </div>
          <div class="form-group mb-3">
            <label class="form-label required" for="password">Session Date</label>
            <input type="date" class="form-control" id="password" name="password"/>
          </div>
          <div class="form-group mb-3">
            <label class="form-label required" for="password">Session Feedback</label>
            <textarea class="form-control" id="password" name="password"></textarea>
          </div>
          <div class="d-grid mt-4">
            <button type="button" class="btn btn-primary" ><b>Submit Feedback</b></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
